header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid red;
    width: 8vw;
    p{
        font-size: 1rem;;
    }
}

main{
    display: flex;
    flex-direction: column;
}


.containerCards{
    border: solid blue; 
    display: flex;
    justify-content: space-between;
    width: 60%;
}


.card{
    width: 15vw;
    height: 20vh;
    border: solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}